{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{%block title %} Famlib|contact Us {%endblock title %}
{%block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 py-1 mx-1" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<h1 class="title" id="section-title">Get in touch</h1>
<section class="get-in-touch">
  <form class="contact-form row" method="post" action="{% url 'contactus' %}">
    {% csrf_token %}
    <div class="form-field col-lg-6">
      <label class="mtype" for="type">Contact Type</label>
      <select id="type" class="js-input" name="type" required onchange="changeSectionTitle(this.value)">
        <option value="feedback">Feedback</option>
        <option value="contact">Contact</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" name="name" placeholder="your name" autocomplete="country-name" autocapitalize="words" required>
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" name="email" placeholder="abc@def.com" autocomplete="current-email" required>
      <label class="label" for="email">E-mail</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="company" class="input-text js-input" type="text" name="heading" placeholder="message title" autocapitalize="words" required>
      <label class="label" for="heading">Message Heading</label>
    </div>
    <div class="form-field col-lg-12">
      <textarea id="message" class="input-text js-input" type="text" name="message" placeholder="Tell what u want to say..." autocapitalize="on" required></textarea>
      <label class="label" for="message">Message</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form> 
</section>
<div>
  <footer class="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn text-white btn-floating m-5"style="background-color: #0481c4;"
        href="https://www.linkedin.com/in/md-asjad-314501211/"role="button">
        <i class="fab fa-linkedin-in me-2"></i>Linkedin</a>
        <!-- Github -->
        <a class="btn text-white btn-floating m-5" style="background-color: #000000;"
        href="https://github.com/asjad895"role="button">
        <i class="fab fa-github me-2"></i>Github</a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(23, 3, 102, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="#">Evolve.ai.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<script src="{%static 'js/contact.js'%}"></script>

{%endblock body %}