{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{%block title %} Famlib|contact Us {%endblock title %}
{%block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 py-1 mx-1" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<h1 class="title" id="section-title">Get in touch</h1>
<section class="get-in-touch">
  <form class="contact-form row" method="post" action="{% url 'contactus' %}">
    {% csrf_token %}
    <div class="form-field col-lg-6">
      <label class="label" for="type">Contact Type</label>
      <select id="type" class="js-input" name="type" required onchange="changeSectionTitle(this.value)">
        <option value="feedback">Feedback</option>
        <option value="contact">Contact</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" name="name" placeholder="your name" autocomplete="country-name" autocapitalize="words" required>
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="email" name="email" placeholder="abc@def.com" autocomplete="current-email" required>
      <label class="label" for="email">E-mail</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="company" class="input-text js-input" type="text" name="heading" placeholder="message title" autocapitalize="words" required>
      <label class="label" for="heading">Message Heading</label>
    </div>
    <div class="form-field col-lg-12">
      <textarea id="message" class="input-text js-input" type="text" name="message" placeholder="Tell what u want to say..." autocapitalize="on" required></textarea>
      <label class="label" for="message">Message</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form> 
</section>

<script>
  function changeSectionTitle(value) {
    const sectionTitle = document.getElementById("section-title");
    if (value === "feedback") {
      sectionTitle.textContent = "Got a suggestion or feedback? We're all ears! Fill out the form and let us know what's on your mind";
    } else {
      sectionTitle.textContent = "Let's stay connected! Send us a message and we'll get back to you as soon as possible.";
    }
  }
</script>

<style>
  .get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: -moz-repeating-linear-gradient(left,#f4524d  0%,#5543ca 100%);
  
  }
  .title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.0em;
    line-height: auto;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#984745  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;  
    -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline-offset: 2px;
    outline: 2px solid #5543ca;
  }
  .contact-form .input-text:focus + .label,.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }

</style>
{%endblock body %}