
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Family AI Powered Library!</title>
    <!-- Link to Bootstrap CSS file -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <style>
    body {
        background-color: #b8d0e8;
    }
    .cont {
        background-color: #893fda;
        border: 2px solid #dee2e6;
        border-radius: 20px;
        padding: 20px;
        width: 60%;
        margin: auto;
        margin-top: 50px;
    }
    .logo{
        margin-top: 2px;
        margin-bottom: 2px;
        align-content: center;
        margin-left: 290px;
    }
    </style>
<body>
    <div class="cont">
        <div class="logo">
            <img  src="https://www.dropbox.com/s/dyoyi6riuj0kzkw/famlib.png?raw=1"  alt="My App Logo" width="250" height="150">

        </div>
        <h1 class="text-danger mt-2 pl-1 pb-1 mb-0" style="color:#893fda; background-color:#b8d0e8;">Welcome to Famlib-AI Powered Library. 📚<br>your library name is:{{ name }}</h1>
        <p class="text-success pb-0 mb-0">You have successfully created a new library with the following ID:</p>
        <p class="text-primary mt-0"><h3 style="color:#893fda;">Library Id:</h3>{{ library_id }}</p>
        <p class="text-uppercase">Thank you for joining our community and giving your family an aware and secured environment! 😎</p>
        <p>Click <a href="https://example.com/signup"(testing) class="btn btn-primary">here</a> to sign up and start using the library.</p>
    </div>
    <!-- Link to Bootstrap JS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
