.navbar{
    position: fixed;
    top: 0;
}

.profile {
    position: relative; /* ensure .dropdown_section is positioned relative to .profile */
}

.profile_pic{
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.dropdown_section{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(101, 113, 65, 0.9);
    padding: 10px;
    transition: 0.2s all ease-in-out;
}

.dropdown_hover:hover .dropdown_section{
    display: block;
    opacity: 1;
}

body{
    /* background-image: url("{% static 'img/siamese.webp' %}"); */
    margin-bottom: 60px; /* Height of the footer */
    background-color:#7e92b3;
}

label{
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#074081  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#084a9b  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#093c85  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #110909;
}
.navbar-brand,button,.nav-link{
    color: #5543ca;background: #5543ca;
    background: -moz-linear-gradient(left,#064388  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#064189  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#0a2189  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;  
    -webkit-text-fill-color: transparent !important;
}
.navbar{
    background-color: #7295cc;
}
.footer{
    text-align: center;
    background-color: #7295cc;
}

/* share.css */
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
    background-image: -moz-repeating-linear-gradient(left,#f4524d  0%,#5543ca 100%);
}
  
h1{
    text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 3.2em;
      line-height: 60px;
      padding-bottom: 10px;
      color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#984745  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;  
    -webkit-text-fill-color: transparent !important;
}
  
.contact-form .form-field {
    position: relative;
    margin: 10px 0;
    margin-bottom: 10px;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 40px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
}
  
.contact-form .input-text:focus {
      /* outline: 2px; */
    outline-offset: 2px;
    outline: 2px solid #5543ca;
}
  
.contact-form .input-text:focus + .label,.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-30x);
    transform: translateY(-30px);
}
  
.contact-form .label {
    position: absolute;
    left: 20px;
      /* bottom: 11px; */
    top: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #f4524d;
    cursor:text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
  
.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}
  
.file-label {
    position: absolute;
    margin-top: 2px;
    top: 12px;
    left: 0;
    font-size: 16px;
    color: #4a0505;
    pointer-events: none;
    transition: 0.2s ease all;
}
  
.form-field.file .input-text:focus + .file-label,
.form-field.file .input-text:not(:placeholder-shown) + .file-label {
    top: -18px;
    font-size: 12px;
    color: #4f0606;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
}
  
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
  
.col {
    flex: 1;
    margin-right: 2px;
}
  
.col label {
    display: flex;
    align-items: center;
    color: #4f0606;
}
  
input[type="checkbox"] {
    margin-right: 1px;
}
html {
    position: relative;
    min-height: 100%;
}
